*{
    box-sizing:border-box;
    font-family: Georgia;
}
body{
    position: relative;
    background-color:#ff8787;
    margin: 0px;
}
h1{
    text-align: center;
    font-weight: bold;
    color:#fbf2cf;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2px -16px;
    margin-left: 5px;
    
}
.row-1{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2px -16px;
    margin-left: 5px;
    
}
.col-50{
    -ms-flex: 50%;
    flex: 50;
    padding: 0 16px;
}
.container-1{
    background-color: #ffddd2;
    padding: 5px 20px 15px 20px;
    border: 2px solid black;
    border-radius: 3px;
}

input[type=text]{
    width:100%;
    padding:12px;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 3px;
}
label{
    margin-bottom: 10px;
    display: block;
}
.icons{
    padding: 7px 0;
    font-size: 24px;
    margin-bottom: 20px;
}
input [type=checkbox]{
    text-align:right;
}
