.main{
    display: flex;
    height: 750px;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.table{
    width: 400px;
    height: 450px;
    padding-top: 100px;
    
    background-color: white;
}

.signup h1{
   color: grey;
}

button{
    background-color: grey;
}

buttonn{
    background-color: grey;
    text-align: center;
    align-items: center;
}